/*----------------------Padding left-right----------------------*/

.main-content {
  width: 100%;
  padding: 0px 100px 0px 100px;
  display: flex;
}

@media (max-width: 991px) {
  .main-content {
    padding: 0px 70px 0px 70px;
  }
}

@media (max-width: 576px) {
  .main-content {
    padding: 0px 20px 0px 20px;
  }
}

/*----------------------Padding top-bottom----------------------*/

.wrap {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*----------------------Loader----------------------*/

.loader {
	width: 100%;
	height: 100%;
	background-color: #08615e;
	z-index: 9999;
	position: fixed;
	display: flex;
	justify-content: center;
}

.loader .loader-inner {
  	height: 200px;
  	width: 200px;
  	margin-top: 15%;
	background-image: url("../images/kosmos.gif");
  	background-size: cover;
 	background-repeat: no-repeat;
  	background-position: center center;
  	background-color: #fff;
    position: absolute;
}

.loader span {
    padding-top: 430px;
    font-size: 42px;
    color: #FFFFFF;
    font-weight: 500;
}


/*Evgeniy*/

.error-404{
  color: white;
  width: 100%;
  height: 100%;
  background-color: red;
  padding: 100px;
  background-image: url("/resource/images/bg-404.jpg");

}
.error-404 img{
  width: 400px;
  text-align: center;
}
.error-404 .bord{
  background-color: white;
  padding: 50px;
  border-radius: 30px;
}
.error-404 h1 {
  font-size: 10em;
   margin-bottom:0px;
}
.error-404 h2{
  color: black;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
 
}
.error-404 h3{
margin-top: 0px;
}
.error-404 h1,h2,h3 {
  text-align: center;
  color: white;
}