.zero {
  width: 70%;
}

.colorhed {
  background-color: red;
}

.color1 {
  background-color: red;
}

.color2 {
  background-color: green;
}

.color3 {
  background-color: yellow;
}

.need {
padding: 30px;
}
