.main-content {
  width: 100%;
  padding: 0px 100px 0px 100px;
  display: flex;
}

@media (max-width: 991px) {
  .main-content {
    padding: 0px 70px 0px 70px;
  }
}

@media (max-width: 576px) {
  .main-content {
    padding: 0px 20px 0px 20px;
  }
}