:root {
  --dark-gray: #232a2d;
  --black: #000000;
}

body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

.header-block-name span {
  text-align: center;
  color: #0B29C2;
  font-size: 40px;
  font-weight: bold;
}

.header-block-name ul li a {
  text-align: center;
  font-size: 22px;
}

.hr {
  margin: 0px;
  padding-left: 108px;
  width: 66px;
  color: #9a9595;
}

.hr ul {
  text-align: right;
}

.hr ul li  {
  display: inline-block;
  padding: 8px 10px 0px 0px;
}

.hr ul li a {
  font-size: 25px;
  align-items: center;
  margin: 0px;
  padding: 0px;
  color: #201C1C;
}

a {
  color: #9a9595;
}

p {
  color: #9a9595;
}

h1,h3,h4,h5 {
  color: white;
}

footer {
  background-color: var(--dark-gray);
}

.padding-block {
  padding: 50px 100px 50px 100px;
}

.center {
  text-align: center;
}

.center p {
  margin: 0px;
}

.black {
  background-color: var(--black);
}
.padding-bottom-block-footer{
  padding: 20px 10px 20px 10px;
  width: 100%;  
}
.padding-bottom-block-footer p {
  margin:0px;
}

.feedback input {
  margin-bottom: 10px;
  padding-left: 5px;
  color: #9a9595;
}

.feedback .feedback-input-submit {
  width: 110px;
  height: 37px;
  border-radius: 2px;
  background-color: rgb(34, 80, 159);
  border: 2px solid rgb(34, 80, 159);
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}