:root {
  --dark-gray: #232a2d;
  --black: #000000;
}

body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: #9a9595;
}

p {
  color: #9a9595;
}

.navbar {
  box-shadow: 0px -3px 8px 0px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

h1,h2,h3,h4,h5,h6 {
  color: black;
}

nav li a {
  font-size: 20px;
}

.first-block {
 padding-bottom: 400px;
  width: 100%;
}

.header-company-name {
  font-size: 40px;
  font-weight: lighter;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}

.first-block .main-text {
  color: black;
}

.first-block .header-text {
  padding-top: 50px;
}

.first-block  .header-text h1 {
  font-size: 55px;
}

.first-block .main-text p {
  color: #333;
  font-size: 20px;
}

.first-block .main-text .under-text {
  padding-top: 15px;
  max-width: 510px;
}

.first-block .main-text .p-wrap {
  padding-top: 25px;
}

.first-block .main-text .pay-methods {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  padding-left: 15px;
}

.first-block .fst-btn {
  padding-top: 40px;
}

.first-block .img-phone {
  width: 100%;
  display: flex;
  justify-content: center;
}

.first-block .img-phone img {
  width: 47%;
  min-width: 250px;
}


@media (max-width: 992px) {
  .main-content {
    padding: 0px 70px 0px 70px;
  }
  
  .img-phone img {
    width: 200px;
  }

}

@media (max-width: 576px) {
  .header-company-name {
    font-size: 30px;
  }
  nav li a {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 0px 20px 0px 20px;
  }
  .navbar-toggler {
    font-size: 1rem;
  }

  .first-block .main-text h1 {
  font-size: 40px;
  }

}

.footer-section {
/*  margin: 0px 170px 0px 170px;
  padding: 50px 0px 50px 0px; */
}

.footer-section h5 {
  margin-bottom: 20px;
  color: #FFFFFF;
  background-color: transparent;
  font: normal normal normal 25px/1.4em 'open sans',sans-serif;
}

.block-communication-padding {
  padding-bottom: 25px;
}

.style-block-communication input, textarea {
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  color: #FFFFFF;
  margin: 0 0 5px;
  width: 100%;
  background-color: transparent;
  font: normal normal normal 15px/1.4em 'open sans',sans-serif;
  border-radius: 0;
}

.style-block-communication button {
  padding: 5px;
  border: none;
  color: #FFFFFF;
  margin: 0 0 5px;
  width: 100%;
  background-color: transparent;
  font: normal normal normal 15px/1.4em 'open sans',sans-serif;
  border-radius: 0;
}

.style-block-email {
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  color: #FFFFFF;
  margin: 0 0 5px;
  width: 50%;
  background-color: transparent;
  font: normal normal normal 15px/1.4em 'open sans',sans-serif;
  border-radius: 0;
}

.style-block-message {
  min-height: 128px;
}

.style-submit {
    color: #FFFFFF;
    font: normal normal normal 15px/1.4em 'open sans',sans-serif;
}

.style-submit:hover {
    cursor: pointer;
}

.footer-color {
  background-color: #1f2945;
}

.auto-generated-link {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

.auto-generated-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

.color-1 {
  padding: 25px 0px 25px 0px;
  background-color:  #101523;
  color: #FFFFFF;
  text-align: center;
}

.main-content-block {
  width: 100%;
  padding: 40px 100px 40px 100px;
  display: flex;
}