.zero {
  width: 50%;
}

.news-list {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-blue);
}

.news-list .name {
  width: 100%;
  height: 50px;
  background-color: var(--color-light-blue);
  display: flex;
  align-items: center;
}

.news-list .name p {
  color: #ffffff;
  margin: 0px;
  margin-left: 20px;
  font-size: 18px;
}

.news-list .news {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  background-color: #edeef0;
}

.news-list .news .foto {
  width: 34%;
  height: 100%;
  background-color: var(--color-dark-blue);
}

.news-list .news .description {
  width: 66%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.news-list .news .description .heading {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-list .news .description .heading h3 {
  color: #1b96d1;
  margin: 0px;
}
