.header {
	width :80%;
	height :70px;
	border :1px solid blue;
	background: blue;
	padding: 20px;
	display: flex;
	justify-content: flex-start;
}

.avatar
{
	width : 60px;
	height :50px;
	border :1px solid black;
	background: white;
}
 
.text
{
	left: 20px;
   width: 80%;
    background: white;
   
}


