body{
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'IBM Plex Sans', sans-serif;
}
:root{
	--color-light-blue:#1b96d1;
	--color-dark-blue:#082539;
	--color-blue:#111c59;
	--color-red: #cf2555;
	--color-green: #339933;
}
.header {
	width :80%;
	height :70px;
	border :1px solid blue;
	background: blue;
	padding: 20px;
	display: flex;
	justify-content: flex-start;
}

.avatar
{
	width : 60px;
	height :50px;
	border :1px solid black;
	background: white;
}
 
.text
{
	left: 20px;
   width: 80%;
    background: white;
   
}


