* {
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
}

.block {
	width: 70px;
	height: 32px;
	border-radius: 1px;
	overflow: hidden;
}
.block .normal-area {
	float: left;
	width: 50%;
	height: 100%;
	background: #0a203b;
	text-align: center;
}

.block .hover-area {
	float: right;
	width: 50%;
	height: 100%;
	background: #2da5da;
	text-align: center;
}

.block .arrow {
	padding-top: 22%;
}

.block .arr-left {
	color: #97a2ad;
}

.block .arr-right {
	color: #fff;
}

