.zero {
  width: 40%;
}

.skills {
  width: 100%;
  height: 400px;
  background: #2da5da;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills .name {
  width: 100%;
  height: 20%;
}

.skills .name h2 {
  color: #ffffff;
  margin-left: 15px;
}

.skills .statistics {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills .statistics p {
  color: #ffffff;
  margin-left: 15px;
}

.skill .statistics .firstSkill {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
    background: #336699;
}

.skill .statistics .firstSkill .firstSkillScale {
  width: 80%;
  height: 5px;
  background: #336699;
}

.skill .statistics .firstSkill .firstSkillScale .firstSkillScaleZp {
  width: 80%;
  height: 5px;
  background: #336699;
}

.skill .statistics .second-skill {
  width: 100%;
  height: 25%;
}

.skill .statistics .third-skill {
  width: 100%;
  height: 25%;
}

.skill .statistics .third-skill {
  width: 100%;
  height: 25%;
}

.skills .email-us {
  width: 100%;
  height: 20%;
}
