:root {
	--dark-blue: #191D21;
	--dark-gray: #2A2E35;
	--white: #d9dde0;
}

html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
	margin-bottom: 0px;
	color: #ffffff;
	text-align: center;
}

.nav-menu-left {
	padding: 0px;
	background-color: var(--dark-gray);
}

.nav-menu-left .title {
	width: 100%;
	padding: .7em 1.3em;
	background-color: var(--dark-blue);
}

.nav-menu-left .profile {
	padding: .7em 1.3em;
	display: flex;
}

.nav-menu-left .profile p {
	color: #FFFFFF;
	margin-bottom: 0px;
}

.nav-menu-left .avatar-selection-first {
	margin-right: 15px;
	width: 70px;
	height: 70px;
	border-radius: 60%;
}

.menu-button {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.menu-button a {
	font-size: 15px;
    font-weight: 400;
}

.menu-button i {
	padding-right: 20px;
	color: #22D740;
}

.menu-button .button {
	width: 100%;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: var(--dark-gray); 
	padding: .7em 1.3em;
}

.menu-button .button:hover { 
	background: var(--dark-blue); 
}

.menu-button .button:active { 
	background: var(--dark-blue)
}

.schedule {
	width: 100%;
	display: flex;
	justify-content: center;
}
.schedule .schedule1 {
	width: 200px;
	height: 200px;
}