.select {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #2da5da;
}

.select .selectHeader {
  width: 100%;
  height: 25%;
  background: #e90f0f;
  display: flex;
  flex-direction: row;
}

.select .selectHeader .quantity {
  width: 20%;
  height: 100%;
  background: #2da5da;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.select .selectHeader .titleProductOne {
  width: 60%;
  height: 100%;
  background: #2da5da;
  text-align: center;
  font-size: 23px;
}

.select .selectHeader .titleProductTwo {
  width: 20%;
  height: 100;
  background: #2da5da;
  text-align: center;
  font-size: 23px;
}

.select .oneProduct {
  width: 100%;
  height: 25%;
  background: #3d0fe9;
}

.select .twoProduct {
  width: 100%;
  height: 25%;
  background: #8af73a;
}

.select .twoButtons {
  width: 100%;
  height: 25%;
  bacground: #c7de06;
}
